{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Python For All</title>
        <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    </head>
    <body>
        <div class="home-body">
            <div class="home-header">
                Gregory Pickett
            </div>
            <div class="home-body">

            </div>
        </div>
    </body>
</html>